.title {
  display: flex;
  border-bottom: 2px solid #00000021;
  padding-bottom: 10px;
}
.iconos {
  color: #f0b429;
  font-size: 40px;
  margin-right: 10px;
}
h1 {
  color: #005883;
  margin: 0;
  padding-left: 17px;
  font-weight: bolder;
}
