<div style="margin: 15px;">
  <div class="title">
    <mat-icon class="iconos">description</mat-icon>
    <h1>Explicacion</h1>
  </div>
  <div>
    <h3>Desarrollo</h3>
    <ul>
      <li>Aplicacion diseñada en visual studio code</li>
      <li>Se desarrollo en Angular</li>
      <li>Se uso la biblioteca angular material para algunos diseños</li>
      <li>la mayoria de estilos se hicieron con codigo css</li>
    </ul>
    <ul>
      <li>Se creo navbar</li>
      <li>Side menu</li>
      <li>Se creo niveles</li>
      <li>Se hizo un mapa contextual</li>
      <li>Se desarrollo un ejemplo de conjunto de seleccion multiple</li>
      <li>Se trabajo por componentes</li>
      <li>La pagina no es responsiva</li>
    </ul>
  </div>
</div>
