<div style="margin: 15px">
  <div class="title">
    <mat-icon class="iconos">description</mat-icon>
    <h1>Mapa conceptual</h1>
  </div>
  <div style="margin-top: 1rem">
    <div style="padding-left: 0.5rem">
      <div>
        <div>
          <div style="padding: 0.5rem; width: 97%">
            <p class="color1-bg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
              tempora perferendis. Eius earum voluptate odit iure quas eligendi
              ipsam doloribus laboriosam! Rerum mollitia quibusdam omnis nostrum
              voluptatum similique dolore. Labore!
            </p>
          </div>
          <div style="padding: 0.5rem; position: relative; bottom: 4rem">
            <p class="blue-border">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laboriosam atque veritatis error praesentium expedita maxime saepe
              voluptatum adipisci mollitia odit, deserunt sunt dignissimos eum
              autem tempore iure eveniet, nulla voluptatibus?
            </p>
          </div>
        </div>
        <div>
          <p class="blue-border2"></p>
        </div>
        <div style="padding-left: 3rem">
          <div>
            <div style="position: relative; bottom: 17rem">
              <div style="padding: 0.5rem; width: 97%">
                <p class="color2-bg">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
                  tempora perferendis. Eius earum voluptate odit iure quas
                  eligendi ipsam doloribus laboriosam! Rerum mollitia quibusdam
                  omnis nostrum voluptatum similique dolore. Labore!
                </p>
              </div>
              <div style="padding: 0.5rem; position: relative; bottom: 4rem">
                <p class="blue-border">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
                  tempora perferendis. Eius earum voluptate odit iure quas
                  eligendi ipsam doloribus laboriosam! Rerum mollitia quibusdam
                  omnis nostrum voluptatum similique dolore. Labore!
                </p>
              </div>
            </div>
            <div>
              <p class="blue-border3"></p>
            </div>
            <div style="padding-left: 3rem">
              <div>
                <div style="position: relative; bottom: 34rem">
                  <div style="padding: 0.5rem; width: 97%">
                    <p class="color1-bg">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      At, tempora perferendis. Eius earum voluptate odit iure
                      quas eligendi ipsam doloribus laboriosam! Rerum mollitia
                      quibusdam omnis nostrum voluptatum similique dolore.
                      Labore!
                    </p>
                  </div>
                  <div
                    style="padding: 0.5rem; position: relative; bottom: 4rem"
                  >
                    <p class="blue-border">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      At, tempora perferendis. Eius earum voluptate odit iure
                      quas eligendi ipsam doloribus laboriosam! Rerum mollitia
                      quibusdam omnis nostrum voluptatum similique dolore.
                      Labore!
                    </p>
                  </div>
                </div>
                <div>
                  <p class="blue-border4"></p>
                </div>
                <div style="padding-left: 3rem">
                  <div>
                    <div style="position: relative; bottom: 51rem">
                      <div style="padding: 0.5rem; width: 97%">
                        <p class="color2-bg">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. At, tempora perferendis. Eius earum voluptate
                          odit iure quas eligendi ipsam doloribus laboriosam!
                          Rerum mollitia quibusdam omnis nostrum voluptatum
                          similique dolore. Labore!
                        </p>
                      </div>
                      <div
                        style="
                          padding: 0.5rem;
                          position: relative;
                          bottom: 4rem;
                        "
                      >
                        <p class="blue-border">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. At, tempora perferendis. Eius earum voluptate
                          odit iure quas eligendi ipsam doloribus laboriosam!
                          Rerum mollitia quibusdam omnis nostrum voluptatum
                          similique dolore. Labore!
                        </p>
                      </div>
                      <div>
                        <p class="blue-border1"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
