<div class="body-main">
  <div class="div-main">
    <mat-selection-list>
      <mat-accordion>
        <mat-expansion-panel
          class="custom-expansion-panel"
          (opened)="onPanelOpened()"
          (closed)="panelOpenState = false"
          [class.mat-expanded]="panelOpenState"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Introduccion </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="lu">
            <li class="cursor" (click)="niveles()">Actividad 1</li>
            <li class="cursor" *ngIf="mostrarOpciones" (click)="nivel1()">
              Opción 1
            </li>
            <li class="cursor" *ngIf="mostrarOpciones" (click)="nivel2()">
              Opción 2
            </li>
          </ul>
          <ul>
            <li class="cursor" (click)="actividad2()">Actividad 2</li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title (click)="principal()"> Explicacion </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-selection-list>
  </div>
  <div *ngIf="main" style="width: 80%">
    <app-explicacion></app-explicacion>
  </div>
  <div *ngIf="opcion1" style="width: 80%">
    <app-main-content></app-main-content>
  </div>
  <div *ngIf="opcion2" style="width: 80%">
    <app-mapa-conceptual></app-mapa-conceptual>
  </div>
  <div *ngIf="abrirActividad2" style="width: 80%">
    <app-actividad2></app-actividad2>
  </div>
</div>
